.popup__input {
    width: calc(100% - 2 * 36px);
}

@media screen and (max-width: 320px) {

    .popup__input {
        width: calc(100% - 2 * 22px);
    }
}

.popup__input::placeholder {
    color: #000000;
}

.popup__input:focus {
    outline: 3px solid #9932CC;
    border-radius: 1%;
    opacity: .7;
}