@keyframes smooth-open {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.popup_smooth-open {
    visibility: visible;
    opacity: 1;
    animation: smooth-open 1s linear 1;
}