.popup__container-close-button {
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url("../../../images/popup-close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 510px) {

    .popup__container-close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}